## Various models

Loading processed dataset from pickle file

In [1]:
import pandas as pd
import datetime as dt
from datetime import date,time,datetime
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MultiLabelBinarizer
lbl = LabelEncoder()
mlb = MultiLabelBinarizer()
import numpy as np

In [2]:
df = pd.read_pickle("./dataset.pkl")

In [3]:
df

,ADMISSION_DAYS,GENDER,AGE,50801,50802,50803,50804,50805,50806,50808,...,G11,G12,G13,G14,G15,G16,G17,G18,G19,G20
0,2,0,65,462.0,0.0,24.0,22.0,1.0,104.0,1.12,...,0,0,0,0,0,0,0,1,1,0
1,6,1,71,462.0,0.0,24.0,26.0,1.0,104.0,1.20,...,0,0,0,0,0,0,0,0,0,1
2,7,1,75,462.0,1.0,24.0,27.0,1.0,98.0,1.07,...,0,0,0,0,0,1,0,0,0,1
3,3,1,39,462.0,0.0,24.0,27.0,1.0,104.0,1.12,...,0,0,0,0,0,0,0,0,0,0
4,4,1,59,462.0,0.0,24.0,26.0,1.0,104.0,1.11,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,3,0,20,230.0,-2.0,26.0,25.0,1.0,101.0,1.12,...,0,0,0,0,0,0,0,1,1,0
58972,1,0,84,485.0,-3.0,18.0,18.0,1.0,104.0,1.12,...,0,0,0,0,0,0,0,0,0,1
58973,9,1,42,422.0,-1.0,24.0,27.0,1.0,103.0,1.08,...,0,1,0,1,0,0,0,1,1,1
58974,11,0,60,462.0,-3.0,22.0,23.0,2.0,111.0,1.00,...,0,0,0,0,0,0,0,1,1,0
58975,2,0,63,462.0,0.0,24.0,26.0,1.0,104.0,1.12,...,0,0,1,0,0,0,0,1,1,1

In [4]:
np.take(df,np.random.permutation(df.shape[0]),axis=0)#to shuffle dataset

,ADMISSION_DAYS,GENDER,AGE,50801,50802,50803,50804,50805,50806,50808,...,G11,G12,G13,G14,G15,G16,G17,G18,G19,G20
55889,3,0,60,462.0,0.0,24.0,26.0,1.0,104.0,1.12,...,0,1,1,0,0,1,0,0,1,1
27001,12,1,75,462.0,0.0,24.0,26.0,1.0,104.0,1.12,...,0,0,1,0,0,1,0,0,0,0
24740,25,1,64,633.0,8.0,39.0,34.0,1.0,80.0,0.96,...,0,1,0,0,0,1,1,1,0,1
1358,2,1,0,462.0,0.0,24.0,26.0,1.0,104.0,1.12,...,0,0,0,0,0,0,0,0,0,1
36194,8,1,65,462.0,0.0,24.0,26.0,1.0,104.0,1.12,...,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31391,5,1,59,462.0,0.0,24.0,26.0,1.0,104.0,1.12,...,0,0,0,0,0,0,0,0,0,1
9513,5,1,0,462.0,0.0,24.0,26.0,1.0,104.0,1.12,...,0,0,0,1,1,0,0,0,0,1
12453,3,1,28,462.0,0.0,24.0,26.0,1.2,104.0,1.16,...,0,0,0,0,0,0,0,1,1,0
11855,26,0,43,462.0,-2.0,27.0,22.0,1.0,104.0,1.12,...,0,0,1,0,0,1,0,1,0,0
28315,7,1,65,292.0,3.0,24.0,30.0,1.0,104.0,1.15,...,0,0,0,0,0,0,0,0,0,0

In [5]:
x = df.iloc[:,:483]
x.shape
#483 = 3(adm_days,gender,age)+480(lab values)

(58976, 483)

In [6]:
x.columns

Index(['ADMISSION_DAYS',         'GENDER',            'AGE',            50801,
                  50802,            50803,            50804,            50805,
                  50806,            50808,
       ...
                  51512,            51513,            51514,            51515,
                  51516,            51517,            51518,            51519,
                  51529,            51532],
      dtype='object', length=483)

In [7]:
y = df.iloc[:,483:]

In [8]:
y.columns

Index(['G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'G9', 'G10', 'G11',
       'G12', 'G13', 'G14', 'G15', 'G16', 'G17', 'G18', 'G19', 'G20'],
      dtype='object')

In [9]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(-1,1))
x1 = sc.fit_transform(x)

In [10]:
from tensorflow.python.client import device_lib 
print(device_lib.list_local_devices())

/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 13565085188903621612
, name: "/device:XLA_CPU:0"
device_type: "XLA_CPU"
memory_limit: 17179869184
locality {
}
incarnation: 3551933917428492905
physical_device_desc: "device: XLA_CPU device"
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 22748702311
locality {
  bus_id: 1
  links {
  }
}
incarnation: 9206294571050597411
physical_device_desc: "device: 0, name: Tesla M40 24GB, pci bus id: 0000:04:00.0, compute capability: 5.2"
, name: "/device:GPU:1"
device_type: "GPU"
memory_limit: 22748702311
locality {
  bus_id: 2
  numa_node: 1
  links {
  }
}
incarnation: 9234920164583681768
physical_device_desc: "device: 1, name: Tesla M40 24GB, pci bus id: 0000:82:00.0, compute capability: 5.2"
, name: "/device:XLA_GPU:0"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 17675413827071987311
physical_device_desc: "device: XLA_GPU device"
, name: "/device:XLA_GPU:1"
device_type: "XLA_GPU"
memory_limit: 17179869184
locality {
}
incarnation: 7118924058999963514
physical_device_desc: "device: XLA_GPU device"
]

In [11]:
x_train = x.iloc[:44232,:].values
x_test = x.iloc[44232:,:].values
y_train = y.iloc[:44232,:].values
y_test = y.iloc[44232:,:].values
#remove .values to see shape
#print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

In [12]:
import keras
import tensorflow as tf
from keras.models import Model
from keras.layers import Dense,CuDNNLSTM,CuDNNGRU,Flatten,Conv1D,Dropout,Activation,LeakyReLU,Input,MaxPooling1D
from keras.models import Sequential
from sklearn.model_selection import StratifiedKFold

Using TensorFlow backend.

In [13]:
x_train = np.reshape(x_train,(x_train.shape[0],1,x_train.shape[1]))
y_train = np.reshape(y_train,(y_train.shape[0],1,y_train.shape[1]))

In [14]:
x_train.shape

(44232, 1, 483)

In [15]:
y_train.shape

(44232, 1, 20)

In [16]:

x_test = np.reshape(x_test,(x_test.shape[0],1,x_test.shape[1]))

In [17]:
'''from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

classifier = BinaryRelevance(GaussianNB())
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)'''

'from skmultilearn.problem_transform import BinaryRelevance\nfrom sklearn.naive_bayes import GaussianNB\n\nclassifier = BinaryRelevance(GaussianNB())\nclassifier.fit(x_train, y_train)\ny_pred = classifier.predict(x_test)'

In [18]:
'''input_x = Input(shape=x_train.shape)

X = Dense(512)(input_x)
print(str(X.shape)+'X')
conv1 = Conv1D(filters=483,kernel_size=1)(X)
print(str(conv1.shape)+'conv1')

dens1 = Dense(483,activation = 'relu')(conv1)
print(str(dens1.shape)+'dense1')
lstm1 = CuDNNLSTM(256,return_sequences=True)(dens1)
print(str(lstm1.shape)+'lstm1')
lrelu1 = LeakyReLU(alpha=0.3)(lstm1)
print(str(lrelu1.shape)+'leakyrelu1')

dens2 = Dense(256,activation = 'relu')(lrelu1)
print(str(dens2.shape)+'dense2')
conv2 = Conv1D(filters=128,kernel_size=1)(dens2)
print(str(conv2.shape)+'conv2')

dens3 = Dense(161,activation = 'relu')(conv2)
print(str(dens3.shape)+'dense3')
gru1 = CuDNNGRU(256,return_sequences=True)(dens3)
print(str(gru1.shape)+'gru1')
lrelu2 = LeakyReLU(alpha=0.3)(dens3)
print(str(lrelu2.shape)+'leakyrelu2')

dens4 = Dense(64,activation='relu')(lrelu2)
print(str(dens4.shape)+'dense4')
conv3 = Conv1D(filters=32,kernel_size=1)(dens4)
print(str(conv3.shape)+'conv3')

dens5 = Dense(20,activation='relu')(conv3)
print(str(dens5.shape)+'dense5')

dens6 = Dense(32,activation = 'relu')(dens5)
print(str(dens6.shape)+'dense6')
gru2 = CuDNNGRU(256,return_sequences=True)(dens6)
print(str(gru2.shape)+'gru2')
lrelu3 = LeakyReLU(alpha=0.3)(gru2+gru1)
print(str(lrelu3.shape)+'leakyrelu3')

dens7 = Dense(64,activation='relu')(lrelu3)
print(str(dens7.shape)+'dense7')
conv4 = Conv1D(filters=32,kernel_size=1)(dens7)
print(str(conv4.shape)+'conv4')

dens8 = Dense(161,activation='relu')(conv4)
print(str(dens8.shape)+'dense8')
lstm2 = CuDNNLSTM(256,return_sequences=True)(dens8)
print(str(lstm2.shape)+'lstm2')
lrelu4 = LeakyReLU(alpha=0.3)(lstm2+lstm1)
print(str(lrelu4.shape)+'lrelu4')

dens9 = Dense(256,activation = 'relu')(lrelu4)
print(str(dens9.shape)+'dense9')
conv5 = Conv1D(filters=128,kernel_size=1)(dens9)
print(str(conv5.shape)+'conv5')

dens10 = Dense(483,activation = 'relu')(conv5)
print(str(dens10.shape)+'dense10')
lstm3 = CuDNNLSTM(256,return_sequences=True)(dens10)
print(str(lstm3.shape)+'lstm3')
lrelu5 = LeakyReLU(alpha=0.3)(lstm3+lstm1+lstm2)
print(str(lrelu5.shape)+'lrelu5')

output = Dense(y_train.shape[1],activation='softmax')(lrelu5)
print(str(output.shape)+'output_shape')
model = Model(inputs = input_x,outputs = output)'''

"input_x = Input(shape=x_train.shape)\n\nX = Dense(512)(input_x)\nprint(str(X.shape)+'X')\nconv1 = Conv1D(filters=483,kernel_size=1)(X)\nprint(str(conv1.shape)+'conv1')\n\ndens1 = Dense(483,activation = 'relu')(conv1)\nprint(str(dens1.shape)+'dense1')\nlstm1 = CuDNNLSTM(256,return_sequences=True)(dens1)\nprint(str(lstm1.shape)+'lstm1')\nlrelu1 = LeakyReLU(alpha=0.3)(lstm1)\nprint(str(lrelu1.shape)+'leakyrelu1')\n\ndens2 = Dense(256,activation = 'relu')(lrelu1)\nprint(str(dens2.shape)+'dense2')\nconv2 = Conv1D(filters=128,kernel_size=1)(dens2)\nprint(str(conv2.shape)+'conv2')\n\ndens3 = Dense(161,activation = 'relu')(conv2)\nprint(str(dens3.shape)+'dense3')\ngru1 = CuDNNGRU(256,return_sequences=True)(dens3)\nprint(str(gru1.shape)+'gru1')\nlrelu2 = LeakyReLU(alpha=0.3)(dens3)\nprint(str(lrelu2.shape)+'leakyrelu2')\n\ndens4 = Dense(64,activation='relu')(lrelu2)\nprint(str(dens4.shape)+'dense4')\nconv3 = Conv1D(filters=32,kernel_size=1)(dens4)\nprint(str(conv3.shape)+'conv3')\n\ndens5 = Dense(20,activation='relu')(conv3)\nprint(str(dens5.shape)+'dense5')\n\ndens6 = Dense(32,activation = 'relu')(dens5)\nprint(str(dens6.shape)+'dense6')\ngru2 = CuDNNGRU(256,return_sequences=True)(dens6)\nprint(str(gru2.shape)+'gru2')\nlrelu3 = LeakyReLU(alpha=0.3)(gru2+gru1)\nprint(str(lrelu3.shape)+'leakyrelu3')\n\ndens7 = Dense(64,activation='relu')(lrelu3)\nprint(str(dens7.shape)+'dense7')\nconv4 = Conv1D(filters=32,kernel_size=1)(dens7)\nprint(str(conv4.shape)+'conv4')\n\ndens8 = Dense(161,activation='relu')(conv4)\nprint(str(dens8.shape)+'dense8')\nlstm2 = CuDNNLSTM(256,return_sequences=True)(dens8)\nprint(str(lstm2.shape)+'lstm2')\nlrelu4 = LeakyReLU(alpha=0.3)(lstm2+lstm1)\nprint(str(lrelu4.shape)+'lrelu4')\n\ndens9 = Dense(256,activation = 'relu')(lrelu4)\nprint(str(dens9.shape)+'dense9')\nconv5 = Conv1D(filters=128,kernel_size=1)(dens9)\nprint(str(conv5.shape)+'conv5')\n\ndens10 = Dense(483,activation = 'relu')(conv5)\nprint(str(dens10.shape)+'dense10')\nlstm3 = CuDNNLSTM(256,return_sequences=True)(dens10)\nprint(str(lstm3.shape)+'lstm3')\nlrelu5 = LeakyReLU(alpha=0.3)(lstm3+lstm1+lstm2)\nprint(str(lrelu5.shape)+'lrelu5')\n\noutput = Dense(y_train.shape[1],activation='softmax')(lrelu5)\nprint(str(output.shape)+'output_shape')\nmodel = Model(inputs = input_x,outputs = output)"

In [19]:
'''model = Sequential()
model.add(Dense(483,input_shape=(x_train.shape[1],x_train.shape[2])))
model.add(Conv1D(filters = 483,kernel_size=1))
model.add(MaxPooling1D(1))
model.add(LeakyReLU(alpha=0.3))
model.add(Dense(966))
model.add(Conv1D(filters=483,kernel_size=1))
model.add(MaxPooling1D(1))
#model.add(Dense(483))
#model.add(CuDNNLSTM(483))
model.add(LeakyReLU(alpha=0.15))
model.add(Dense(966))
model.add(Activation('tanh'))
model.add(Dense(y_train.shape[2],activation='sigmoid'))'''

"model = Sequential()\nmodel.add(Dense(483,input_shape=(x_train.shape[1],x_train.shape[2])))\nmodel.add(Conv1D(filters = 483,kernel_size=1))\nmodel.add(MaxPooling1D(1))\nmodel.add(LeakyReLU(alpha=0.3))\nmodel.add(Dense(966))\nmodel.add(Conv1D(filters=483,kernel_size=1))\nmodel.add(MaxPooling1D(1))\n#model.add(Dense(483))\n#model.add(CuDNNLSTM(483))\nmodel.add(LeakyReLU(alpha=0.15))\nmodel.add(Dense(966))\nmodel.add(Activation('tanh'))\nmodel.add(Dense(y_train.shape[2],activation='sigmoid'))"

In [20]:
'''model = Sequential()
model.add(Conv1D(filters=64,kernel_size=1,input_shape=(x_train.shape[1],x_train.shape[2])))

model.add(Dense(units=256, activation='relu'))
model.add(Dense(units=256, activation='relu'))
model.add(Dropout(0.5)) 
model.add(Conv1D(filters=32,kernel_size=1))

model.add(Dense(units=128,activation='relu'))
model.add(Dense(units=128,activation='relu'))
model.add(Dropout(0.5))
model.add(Conv1D(filters=8,kernel_size=1))
model.add(Conv1D(filters=8,kernel_size=1))
model.add(Conv1D(filters=8,kernel_size=1))
model.add(Dense(units=16,activation='relu'))
model.add(Dense(y_train.shape[2],activation='sigmoid'))'''

"model = Sequential()\nmodel.add(Conv1D(filters=64,kernel_size=1,input_shape=(x_train.shape[1],x_train.shape[2])))\n\nmodel.add(Dense(units=256, activation='relu'))\nmodel.add(Dense(units=256, activation='relu'))\nmodel.add(Dropout(0.5)) \nmodel.add(Conv1D(filters=32,kernel_size=1))\n\nmodel.add(Dense(units=128,activation='relu'))\nmodel.add(Dense(units=128,activation='relu'))\nmodel.add(Dropout(0.5))\nmodel.add(Conv1D(filters=8,kernel_size=1))\nmodel.add(Conv1D(filters=8,kernel_size=1))\nmodel.add(Conv1D(filters=8,kernel_size=1))\nmodel.add(Dense(units=16,activation='relu'))\nmodel.add(Dense(y_train.shape[2],activation='sigmoid'))"

In [21]:
'''model = Sequential()
model.add(Conv1D(filters=64,kernel_size=1,input_shape=(None,x_train.shape[2])))
model.add(LeakyReLU(alpha=0.4))
model.add(CuDNNLSTM(483,return_sequences=True))
model.add(LeakyReLU(alpha=0.4))
model.add(Dropout(0.2))
model.add(Conv1D(filters=64,kernel_size=1))
model.add(CuDNNGRU(483,return_sequences=True))
model.add(LeakyReLU(alpha=0.4))
model.add(Dense(161))
model.add(Dense(81))
model.add(Dense(y_train.shape[2],activation='sigmoid'))'''

"model = Sequential()\nmodel.add(Conv1D(filters=64,kernel_size=1,input_shape=(None,x_train.shape[2])))\nmodel.add(LeakyReLU(alpha=0.4))\nmodel.add(CuDNNLSTM(483,return_sequences=True))\nmodel.add(LeakyReLU(alpha=0.4))\nmodel.add(Dropout(0.2))\nmodel.add(Conv1D(filters=64,kernel_size=1))\nmodel.add(CuDNNGRU(483,return_sequences=True))\nmodel.add(LeakyReLU(alpha=0.4))\nmodel.add(Dense(161))\nmodel.add(Dense(81))\nmodel.add(Dense(y_train.shape[2],activation='sigmoid'))"

In [22]:
model = Sequential()
model.add(Activation('softmax'))
model.add(Conv1D(filters=24,kernel_size=1))
model.add(CuDNNLSTM(483,return_sequences=True))
model.add(LeakyReLU(alpha=0.3))
#model.add(Flatten())
model.add(Dense(483))
model.add(Activation('tanh'))
model.add(Dense(y_train.shape[2],activation='sigmoid'))

In [23]:
model.compile(metrics=['binary_accuracy','accuracy'],loss='binary_crossentropy',optimizer = 'adam')

In [24]:
model.fit(x_train,y_train,epochs=5,batch_size=64,validation_split=0.25)

WARNING:tensorflow:From /home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/akshara/anaconda3/envs/mimic/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 33174 samples, validate on 11058 samples
Epoch 1/5
33174/33174 [==============================] - 10s 295us/step - loss: 0.4729 - binary_accuracy: 0.7764 - accuracy: 0.7764 - val_loss: 0.5320 - val_binary_accuracy: 0.7268 - val_accuracy: 0.7268
Epoch 2/5
33174/33174 [==============================] - 5s 149us/step - loss: 0.4671 - binary_accuracy: 0.7773 - accuracy: 0.7773 - val_loss: 0.5198 - val_binary_accuracy: 0.7305 - val_accuracy: 0.7305
Epoch 3/5
33174/33174 [==============================] - 5s 159us/step - loss: 0.4665 - binary_accuracy: 0.7777 - accuracy: 0.7777 - val_loss: 0.5260 - val_binary_accuracy: 0.7426 - val_accuracy: 0.7426
Epoch 4/5
33174/33174 [==============================] - 5s 156us/step - loss: 0.4664 - binary_accuracy: 0.7778 - accuracy: 0.7778 - val_loss: 0.5275 - val_binary_accuracy: 0.7426 - val_accuracy: 0.7426
Epoch 5/5
33174/33174 [==============================] - 5s 150us/step - loss: 0.4663 - binary_accuracy: 0.7780 - accuracy: 0.7780 - val_loss: 0.5220 - val_binary_accuracy: 0.7426 - val_accuracy: 0.7426

In [25]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
activation_1 (Activation)    (None, 1, 483)            0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 1, 24)             11616
_________________________________________________________________
cu_dnnlstm_1 (CuDNNLSTM)     (None, 1, 483)            983388
_________________________________________________________________
leaky_re_lu_1 (LeakyReLU)    (None, 1, 483)            0
_________________________________________________________________
dense_1 (Dense)              (None, 1, 483)            233772
_________________________________________________________________
activation_2 (Activation)    (None, 1, 483)            0
_________________________________________________________________
dense_2 (Dense)              (None, 1, 20)             9680
=================================================================
Total params: 1,238,456
Trainable params: 1,238,456
Non-trainable params: 0
_________________________________________________________________

In [26]:
y_pred = model.predict(x_test)

In [27]:
y_pred

array([[[0.0437012 , 0.12655532, 0.56328416, ..., 0.3709634 ,
         0.18347022, 0.5600896 ]],

       [[0.0437012 , 0.12655532, 0.56328416, ..., 0.3709634 ,
         0.18347022, 0.5600896 ]],

       [[0.0437012 , 0.12655532, 0.56328416, ..., 0.3709634 ,
         0.18347022, 0.5600896 ]],

       ...,

       [[0.0437012 , 0.12655532, 0.56328416, ..., 0.3709634 ,
         0.18347022, 0.5600896 ]],

       [[0.0437012 , 0.12655532, 0.56328416, ..., 0.3709634 ,
         0.18347022, 0.5600896 ]],

       [[0.0437012 , 0.12655532, 0.56328416, ..., 0.3709634 ,
         0.18347022, 0.5600896 ]]], dtype=float32)

In [32]:
y_pred.shape

(14744, 20)

In [28]:
y_pred = np.argmax(y_pred,axis=1)

In [33]:
y_pred.shape

(14744, 20)

In [29]:
y_test

array([[0, 1, 1, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 0, 0, 1],
       ...,
       [0, 1, 1, ..., 1, 1, 1],
       [0, 0, 1, ..., 1, 1, 0],
       [0, 0, 0, ..., 1, 1, 1]])

In [30]:
y_pred

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [31]:
from sklearn.metrics import jaccard_score,roc_auc_score,confusion_matrix,hamming_loss
#cm = confusion_matrix(y_test,y_pred) 
#Classification metrics can't handle a mix of multilabel-indicator and unknown targets
print(jaccard_score(y_test,y_pred,average='micro'))
print(jaccard_score(y_test,y_pred,average='macro'))
print(roc_auc_score(y_test,y_pred))
print(hamming_loss(y_test,y_pred))

0.0
0.0
0.5
0.35929869777536627